<h1>Credits</h1>
<p>
  蚂蚁放置是一款关于蚂蚁的增量游戏。
  <br/> 游戏使用 Angular 4, Clarity Design System, swam-numberformat, break_infinity.js, lz-string 和
  <a target ="_blank" href="https://github.com/scorzy/IdleAnt/blob/master/package.json">一些其他库</a>.
</p>

<ul lass="list">
  <li>游戏源码:
    <a target ="_blank" href="https://github.com/scorzy/IdleAnt">https://github.com/scorzy/IdleAnt</a>
  </li>
  <li>论坛:
    <a target ="_blank" href="https://www.reddit.com/r/IdleAnts/">https://www.reddit.com/r/IdleAnts/</a>
  </li>
</ul>
